[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "~=2.20"
torch = "*"
transformers = "*"

[dev-packages]
pytest = "~=7.4"

[requires]
python_version = "3.12"
