[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
pandas = "*"
featuretoggles = "~=1.0"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.9"
