[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "~=0.95"}
grpcio = "~=1.54"
grpcio-tools = "~=1.54"

[dev-packages]
pytest = "~=7.3"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
